<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/books">Online Bookstore</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" 
            aria-expanded="false" 
            aria-label="Toggle navigation" 
            (click)="this.showNav = !this.showNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div [ngClass]="this.showNav ? 'd-block' : 'd-none'" class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navigation navbar-nav mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="#!">About Us</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">Contact Us</a></li>
            </ul>
            <div class="search-container mr-auto ml-2">
                <app-search></app-search>
            </div>
            <div class="cart-container ml-auto">
                <app-cart-status></app-cart-status>
            </div>
            <div class="navigation">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="#!">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<!-- Header-->
<header class="bg-dark py-5 d-none">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</section>
<!-- Footer-->
<footer class="footer py-2 bg-dark">
    <div class="container text-center">
        <span class="text-muted">Copyright &copy; niranzan 2022</span>
    </div>
</footer>