.card-title {
    font-size: 0.8rem;
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
}

.card-text {
    font-size: 0.8rem;
}

.book-container {
    .card {
        border: none;
    }
}

.book-container:hover {
    box-shadow: 0 0.3rem 1.525rem -0.375rem rgb(0 0 0 / 10%);
    z-index: 10;
}

.card-footer {
    border: none;
}

.btn-add-to-cart {
    color: #fff !important;
    background-color: #fe696a;
    border-color: #fe696a;
}

.btn-add-to-cart:hover {
    border-color: #fe3638;
    background-color: #fe3638;
}